# Servers
alias js="jekyll serve --host 0.0.0.0 --incremental"
alias serv="python -m SimpleHTTPServer 8000"

# Copy/paste
if [[ `uname` == 'Darwin' ]] then # macOS
  alias c="pbcopy"
  alias p="pbpaste"
else
  alias c="xclip -selection clipboard"
  alias p="xclip -selection clipboard -o"
fi

# Easier navigation
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

# Docker
function drmc-fn {
  imgs=$(docker ps --all -q -f status=exited)
  [ ! -z "$imgs" ] && docker rm "$imgs" || echo "There are no exited containers to remove."
}

function drmid-fn {
  imgs=$(docker images -q -f dangling=true)
  [ ! -z "$imgs" ] && docker rmi "$imgs" || echo "No dangling images."
}

function drun-fn {
  docker run -it $1 ${2:/bin/bash}
}

alias dim='docker images'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias drmc=drmc-fn
alias drmid=drmid-fn
alias drun=drun-fn