# Servers
alias js="jekyll serve --host 0.0.0.0 --incremental"
alias serv="python -m SimpleHTTPServer 8000"

# Copy/paste
if [[ $(uname) == 'Darwin' ]] then # macOS
  alias c="pbcopy"
  alias p="pbpaste"
else
  alias c="xclip -selection clipboard"
  alias p="xclip -selection clipboard -o"
fi

# Easier navigation
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

# Commands shortcuts
alias x+='chmod +x'

mkcd() {
  mkdir -p -- "$1" && cd -P -- "$1"
}

# Docker
docker_rm_exited_containers() {
  for exited_container in $(docker ps --all -q -f status=exited | awk '{print $1}'); do
    docker rm $exited_container
  done
}

docker_rm_dangling_images() {
  for dangling_img in $(docker images -q -f dangling=true | awk '{print $1}'); do
    docker rmi $dangling_img
  done
}

docker_run() {
  docker run -it $1 ${2:/bin/bash}
}

docker_logs() {
  docker logs -f $1
}

alias dim='docker images'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias drmc=docker_rm_exited_containers
alias drmid=docker_rm_dangling_images
alias drun=docker_run
alias dl=docker_logs