# Aliases
alias js="jekyll serve --host 0.0.0.0 --incremental"
alias serv="python -m SimpleHTTPServer 8000"

## Copy-Paste using XClip
alias c="xclip -selection clipboard"
alias p="xclip -selection clipboard -o"

## Easier navigation
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

## Shortcuts
alias dl="cd ~/Downloads"
alias p="cd ~/projects"
