#
# NPM configuration.
# See https://docs.npmjs.com/misc/config for other configuration properties.
#

# A proxy to use for outgoing http requests
#proxy=http://
#http_proxy=http://
#noproxy=

# Whether or not to do SSL key validation when making requests to the registry via https
#strict-ssl=false

# A path to a file containing one or multiple Certificate Authority signing certificates
#cafile=".crt"